<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B2BLogical.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <B2BLogical.Properties.Settings>
            <setting name="LifeTimeToken" serializeAs="String">
                <value>24.00:00:00</value>
            </setting>
            <setting name="FromMail" serializeAs="String">
                <value>GrigoryevNE@pronetgroup.ru</value>
            </setting>
            <setting name="FromName" serializeAs="String">
                <value>Grigoryev Nikolay</value>
            </setting>
            <setting name="FromPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value>192.168.0.181</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SMTPEnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPUseDefaultCredentials" serializeAs="String">
                <value>True</value>
            </setting>
        </B2BLogical.Properties.Settings>
    </applicationSettings>
</configuration>