<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B2BData.Properties.Settings.ConnectionB2B" connectionString="Data Source=Navision;Initial Catalog=Pronet2;Persist Security Info=True;User ID=PronetB2B;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>