<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B2BData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="B2BData.Properties.Settings.ConnectionB2B" connectionString="Data Source=Navision;Initial Catalog=Pronet2;Persist Security Info=True;User ID=PronetB2B;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <B2BData.Properties.Settings>
            <setting name="NotificationPause" serializeAs="String">
                <value>00:02:00</value>
            </setting>
        </B2BData.Properties.Settings>
    </applicationSettings>
</configuration>